<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>数据字典</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link th:href="@{css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{css/bootstraptable.min.css}" rel="stylesheet"/>
    <script th:src="@{js/jquery.min.js}" type="text/javascript" th:inline="javascript"></script>
    <script th:src="@{js/bootstrap.min.js}" type="text/javascript" th:inline="javascript"></script>
    <script th:src="@{js/bootstraptable.min.js}" type="text/javascript" th:inline="javascript"></script>
    <script th:src="@{js/bootstraptablezhCN.min.js}" type="text/javascript" th:inline="javascript"></script>
    <script th:src="@{js/table.js}" type="text/javascript" th:inline="javascript"></script>
</head>
<body>
<div class="row">
    <div class="col-md-12 column">
        <table data-toggle="table" id="dictionaryCatalogTable" data-striped="true" data-url="/data">
            <caption><h1>数据字典</h1></caption>
            <thead>
                <tr>
                    <th data-field="id" data-width="5%">序号</th>
                    <th data-field="catalogName" data-width="10%">目录名称</th>
                    <th data-field="catalogValue" data-width="10%">目录代号</th>
                    <th data-field="description" data-width="50%">目录描述</th>
                    <th data-formatter="operateFormatter" data-events="operateEvents" data-width="20%">
                        操作
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#saveCatalogModal">添加</button>
                    </th>
                </tr>
            </thead>
        </table>
    </div>
</div>

<!-- 编辑数据字典Modal -->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="editModalLabel">编辑数据字典</h4>
            </div>
            <div class="modal-body">
                <input type="hidden" class="form-control" id="catalogId1"/>
                <table id="dictionaryTable">
                    <thead>
                    <tr>
                        <th data-field="id" data-width="5%">序号</th>
                        <th data-field="dictionaryName" data-width="35%">键</th>
                        <th data-field="dictionaryValue" data-width="35%">值</th>
                        <th data-formatter="operateFormatter1" data-events="operateEvents1">
                            操作
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#saveDictionaryModal">添加</button>
                        </th>
                    </tr>
                    </thead>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>

<!-- 添加数据字典目录Modal -->
<div class="modal fade" id="saveCatalogModal" tabindex="-1" role="dialog" aria-labelledby="saveCatalogModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="saveCatalogModalLabel">添加数据字典目录</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="catalogName">目录名称</label>
                    <input type="text" class="form-control" id="catalogName"/>
                </div>
                <div class="form-group">
                    <label for="catalogValue">目录代号</label>
                    <input type="text" class="form-control" id="catalogValue"/>
                </div>
                <div class="form-group">
                    <label for="description">目录描述</label>
                    <textarea class="form-control" rows="7" id="description"></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary" onclick="saveCatalog()">保存</button>
            </div>
        </div>
    </div>
</div>

<!-- 编辑数据字典目录Modal -->
<div class="modal fade" id="editCatalogModal" tabindex="-1" role="dialog" aria-labelledby="editCatalogModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="editCatalogModalLabel">编辑数据字典目录</h4>
            </div>
            <div class="modal-body">
                <input type="hidden" class="form-control" id="editCatalogId"/>
                <div class="form-group">
                    <label for="editCatalogName">目录名称</label>
                    <input type="text" class="form-control" id="editCatalogName"/>
                </div>
                <div class="form-group">
                    <label for="editCatalogValue">目录代号</label>
                    <input type="text" class="form-control" id="editCatalogValue"/>
                </div>
                <div class="form-group">
                    <label for="editDescription">目录描述</label>
                    <textarea class="form-control" rows="7" id="editDescription"></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary" onclick="updateCatalog()">保存</button>
            </div>
        </div>
    </div>
</div>

<!-- 添加数据字典Modal -->
<div class="modal fade" id="saveDictionaryModal" tabindex="-1" role="dialog" aria-labelledby="saveDictionaryModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="saveDictionaryModalLabel">添加数据字典</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="dictionaryName">键</label>
                    <input type="text" class="form-control" id="dictionaryName"/>
                </div>
                <div class="form-group">
                    <label for="dictionaryValue">值</label>
                    <input type="text" class="form-control" id="dictionaryValue"/>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary" onclick="saveDictionary()">保存</button>
            </div>
        </div>
    </div>
</div>

<!-- 编辑数据字典Modal -->
<div class="modal fade" id="updateDictionaryModal" tabindex="-1" role="dialog" aria-labelledby="updateDictionaryModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="updateDictionaryModalLabel">编辑数据字典</h4>
            </div>
            <div class="modal-body">
                <input type="hidden" class="form-control" id="editDictionaryId"/>
                <input type="hidden" class="form-control" id="editCatalogId1"/>
                <div class="form-group">
                    <label for="editDictionaryName">键</label>
                    <input type="text" class="form-control" id="editDictionaryName"/>
                </div>
                <div class="form-group">
                    <label for="editDictionaryValue">值</label>
                    <input type="text" class="form-control" id="editDictionaryValue"/>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary" onclick="updateDictionary()">保存</button>
            </div>
        </div>
    </div>
</div>

</body>
</html>